# FastAPI 配置
PORT=1110
HOST=0.0.0.0
DEBUG=True


# 数据库配置
SQLITE_DB_PATH=forge.db

# CORS配置
# 开发环境可以设置为 "*", 生产环境应设置具体的域名
CORS_ORIGINS=*

# HTTPS配置
HTTPS_ENABLED=False
SSL_CERT_PATH=certs/localhost.crt
SSL_KEY_PATH=certs/localhost.key
